:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --tertiary-bg-color: #f5f4fa;

  --hero-bg-color: rgba(196, 196, 196, 1);

  --accent-color: #2196f3;

  --logo-black-color: #000000;
  --logo-white-color: #ffffff;

  --title-white-color: #ffffff;

  --address-opacity-color: rgba(255, 255, 255, 0.6);
  --btn-active-color: #188ce8;

  --card-set-gap: 30px;
  --card-bg-color: #ffffff;
  --card-box-shadow-color: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --header-border-color: #ececec;

  --secondary-social-list-link-bg-color: rgb(255, 255, 255, 0.1);

  --clients-link-primary-color: rgba(175, 177, 184, 1);
}

body {
  font-family: Roboto, san-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  /* letter-spacing: 0.03em; */
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: 'Roboto', sans-serif;

  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* ------------------ LOGO ---------------------*/
.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
}
.logo--primary {
  color: var(--logo-black-color);
}
.logo--accent {
  color: var(--accent-color);
}
.logo--secondary {
  color: var(--logo-white-color);
}

/* -------------------- SOCIAL-LIST -------------------- */
.social-list {
  display: flex;
  gap: 10px;
}
.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;

  border-radius: 50%;
}
.social-list__icon {
  fill: rgba(175, 177, 184, 1);
}

.social-list__link:hover,
.social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--primary-bg-color);
}
/* -------------------- HEADER ------------------------ */
.header {
  border: 1px solid var(--header-border-color);
}
.nav-link,
.contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link {
  display: block;
  color: var(--primary-text-color);
}

.contacts-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
.contacts-link {
  color: var(--secondary-text-color);
}

.contacts-link:hover .contacts-list__icon {
  fill: currentColor;
}

.nav-link.current {
  color: var(--accent-color);
}

.header__container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 93px;
}

.menu-list {
  display: flex;
  gap: 50px;
}

.contacts-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

/* ---------------------------- HERO ------------------------- */
.hero {
  background-color: var(--hero-bg-color);
  text-align: center;
}

.hero__overlay {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
}
.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-white-color);

  margin-bottom: 30px;
}
.hero__btn {
  padding: 10px 24px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  border-color: transparent;
  border-radius: 4px;

  color: var(--title-white-color);
  background-color: var(--accent-color);
}

.hero__btn:hover,
.hero__btn:focus {
  background-color: var(--btn-active-color);
}

/* ------------------------------- FEATURES ---------------------------- */
.features__title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: calc(16 / 14);
  font-weight: 700;
  text-transform: uppercase;
}
.features__text {
  line-height: calc(24 / 14);
  color: var(--secondary-text-color);
}

.features-list {
  display: flex;
  gap: var(--card-set-gap);
}
.features-list__item {
  flex-basis: calc((100% - var(--card-set-gap) * 3) / 4);
}

.feature-list__thumb {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;

  text-align: center;

  background-color: var(--tertiary-bg-color);
  border-radius: 4px;
}

/* ---------------WORK--------------- */
.work {
  padding-top: 0;
  text-align: center;
}

.work-list {
  display: flex;
  gap: var(--card-set-gap);
}
.work-list__item {
  flex-basis: calc((100% - (var(--card-st-gap) * 2)) / 3);
}

/*  ------------------- TEAM --------------------- */
.team {
  background-color: var(--tertiary-bg-color);
  text-align: center;
}
.team-list {
  display: flex;
  gap: var(--card-set-gap);
}

.team-list__item {
  flex-basis: calc((100% - (var(--card-set-gap) * 3)) / 4);

  background-color: var(--card-bg-color);
  box-shadow: var(--card-box-shadow-color);
  border-radius: 0px 0px 4px 4px;

  overflow: hidden;
}

.team-list__content {
  padding: 30px 32px;
}

.team__text {
  line-height: 1.13;
}
.team__text--bold {
  margin-bottom: 10px;

  font-weight: 500;
}
.team__text--secondary {
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

/* ----------------- CLIENTS ------------------------------- */
.clients {
  text-align: center;
}
.clients__title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
  gap: var(--card-set-gap);
}

.clients-list__item {
}
.clients-list__link {
  display: block;
  padding: 12px 32px;

  color: var(--clients-link-primary-color);

  border-radius: 4px;
  border: 1px solid var(--clients-link-primary-color);
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* ---------------- PORTFOLIO PAGE ------------------------*/
.filter-list {
  display: flex;
  gap: 8px;
  justify-content: center;

  margin-bottom: 55px;
}
.filter-list__btn {
  padding: 6px 22px;

  font-size: 16px;
  font-weight: 500;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;

  border-color: transparent;
  border-radius: 4px;

  color: var(--primary-text-color);
  background-color: var(--tertiary-bg-color);
}
.filter-list__btn:hover,
.filter-list__btn:focus {
  color: var(--title-white-color);
  background-color: var(--accent-color);
}
.filter-list__btn.current {
  color: var(--title-white-color);
  background-color: var(--accent-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}

.portfolio-list__item {
  flex-basis: calc((100% - (var(--card-set-gap) * 2)) / 3);

  background: #ffffff;
}

.portfolio-list__link {
  color: inherit;
  display: block;
}

.portfolio-list__link:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.portfolio-list__content {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
}

.portfolio__title {
  margin-bottom: 5px;

  font-size: 18px;
  line-height: 2;
  font-weight: 700;
}
.portfolio__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

/* ---------------------- FOOTER ---------------------- */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bg-color);
}

.footer__container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer__logo {
  display: block;
  margin-bottom: 30px;
}
.footer-address {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer-address .address-link:not(last-child) {
  margin-bottom: 12px;
}
.address-link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}
.address-link:hover,
.address-link:focus {
  color: var(--logo-white-color);
}
.address-link--accent {
  color: var(--logo-white-color);
}
.address-link--primary {
  color: var(--secondary-text-color);
}

.footer__title {
  margin-bottom: 30px;

  color: var(--title-white-color);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  /* letter-spacing: 0.42px; */
  text-transform: uppercase;
}

.footer__join-box .social-list__link {
  background-color: var(--secondary-social-list-link-bg-color);
}

.footer__join-box .social-list__icon {
  fill: var(--primary-bg-color);
}

.footer__join-box .social-list__link:hover,
.footer__join-box .social-list__link:focus {
  background-color: var(--accent-color);
}
